<%- include layouts/header.ejs %>    
<!--<div>
	<a href="/">Home</a> | <br>
	<a href="/sellers/add">Add New User</a> | 
	<a href="/sellers">All Users List</a>
	<br>
	<a href="/customers/add">Add New Customer</a> | 
	<a href="/customers">All Customers List</a>
	<br>
	<a href="/vehicles/add">Add New Vehicle</a> | 
	<a href="/vehicles">All Vehicles List</a>
	<br>
	<a href="/offices/add">Add New Office</a> | 
	<a href="/offices">All Offices List</a>
	<br>
	<a href="/offices_managers/add">Add New Office Manager</a> | 
	<a href="/offices_managers">All Office managers list</a>
	<br>
	<a href="/globals_managers/add">Add New Global Manager</a> | 
	<a href="/globals_managers">All Global managers list</a>
</div> 
-->
	<center>   
	<h1><%= title %></h1>
	<%= session %>

<%- include layouts/footer.ejs %>