<!DOCTYPE html>
<html>
<head>
	<title> <%= title %></title>
	<link rel="stylesheet" type="text/css" href="/css/style.css" />   

</head>
<body>

</body>
</html>
	<!-- login -->
	<center>
		<h1> <%= title %> </h1>
		<p> <%= data %> <p>
		<table>
			<form method="POST" action="/session" name="form1">
				<tr style="line-height: 35px;">
					<td> Usuario </td> 
					<td> <input type="text" name="usr" required /></td>
				</tr>
				<tr style="line-height: 35px;">
					<td> Contraseña </td>
					<td> <input type="password" name="psw" required /> </td> 
				</tr>
				<tr style="line-height: 40px;">
					<td colspan="2" align="center"><input type="submit" value="Log in" /> </td>
				</tr>
			</form>
		</table>
	</center>

	
<%- include layouts/footer.ejs %>