<!DOCTYPE html>
<html>
<head>
	<title> <%= title %></title>
	<link rel="stylesheet" type="text/css" href="/css/style.css" />   
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>
<body>
	<!-- login -->
	<center><br><br>
		<div class="login">
		<label class="loginSW"> <%= title %> </label>
		<p> <%= data %> </p><br>
		<table>
			<form method="POST" action="/session" name="form1">
				<tr style="line-height: 35px;">
					<td> Usuario </td> 
					<td> <input type="text" name="usr"  required /></td>
				</tr>
				<tr style="line-height: 35px;">
					<td> Contraseña </td>
					<td> <input type="password" name="psw"  required /> </td> 
				</tr>

				<tr style="line-height: 70px;">
					<td colspan="2" align="center"><input type="submit" value="Entrar" /> </td>
				</tr>
			</form>
		</table>
		</div>
	</center>
<%- include layouts/footer.ejs %>