<%- include ../layouts/header.ejs %>

<link rel="stylesheet" type="text/css" href="css/style.css" />

<% if (officemanfullname) { %>
<p align="right"> 
    Hola <%= officemanfullname %><br>
    <a href="/"><input type="button" value="Cerrar sesión" /></a>
    </p>
<% } else { %>
	<center> <h3> Aún no estás asignado a una sucursal </h3>
<% } %>

<%-include ../layouts/footer.ejs %>